*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: top;
    margin: 0px;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    margin: 25px;
    transform: translate(-0%, -10%);
}

#sketch1, #sketch2 {
    /* move both sketchs to the middle of the page */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sketch1 {
    opacity: 50%;
}

button{
    background-color: #6e6e6e;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}